body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    display: flex;
    flex-wrap: wrap;
    width: 250px;
    height: 350px;
    border: 2px solid black;
    background-color: lightgray;
}
  .calculator button {
    width: 25%;
    font-size: 20px;
  }
  .calculator .display {
    width: 100%;
    height: 20%;
    background-color: white;
    font-size: 20px;
    box-sizing: border-box;
    border-bottom: 2px solid black;
    overflow: hidden;
  }

.calculator button:nth-child(18) {
    width: 50%;
}

.calculator button:nth-child(19) {
    width: 50%;
}

.current-operand {
    border-top: 2px solid black;
}


.current-operand, .previous-operand {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 50%;
}

